{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/schedule.css') }}">
{% endblock %}

{% block body %}
    <div class = "header">
        <p>Schedule</p>
        <a id = "logout_link" href = "{{ path('logout') }}">Logout</a>
    </div>

    <div id = "events">
    {% for event in events %}
        <div class = "event-box">
            <div class = "time">
                <p class = "content">{{ event.time | date("M d, Y") }}</p>
                <p class = "content">{{ event.time | date("H:i a") }}</p>
            </div>
            <div class = "text">
                <p class = "label">Event</p>
                <p class = "content">{{ event.text }}</p>
            </div>
                <a class = "delete" onclick = "return confirm('Are you sure you wish to delete this item?')"
                    href = "{{ path('event_delete', {event_id: event.id} )}}">
                    <i class="material-icons">clear</i>
                </a>
                <button class = "update" data-toggle="modal" data-target = "#event-{{ event.id }}">
                    <i class="material-icons">create</i>
                </button>
            <div id = "event-{{ event.id }}" class="modal fade update-modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Event</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                    </div>

                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    <button id="add_event" data-toggle="modal" data-target="#new_event_modal">
        <i class="material-icons">add</i>
    </button>

    <div id="new_event_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Event</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'method': 'POST'}) }}
                        {% block _description_entry_widget %}
                            <p class = "group">
                                {{ form_widget(form.text) }}
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                {{ form_label(form.text) }}
                            </p>
                        {% endblock %}
                        {% block _time_entry_widget %}
                            <p class = "time-input">
                                {{ form_label(form.time) }}
                                <br>
                                {{ form_widget(form.time) }}
                            </p>
                        {% endblock %}
                        {% block _submit_entry_widget%}
                            <p class = "submit-register">
                                {{ form_widget(form.submit) }}
                            </p>
                        {% endblock %}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
        </div>
{% endblock %}




